// Define variables for your color scheme

// For example:
$red: rgb(255, 48, 21);
$blue: rgb(25, 221, 195);
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
