.form {
  background-color: rgb(46, 46, 46);
  border-radius: 8px;
  // padding-bottom: 16px;
  color: rgb(226, 226, 226);
}

.simple_form div.input {
  background-color: #7e7e7e !important;
}

.input-form {
  background-color: rgb(194, 194, 194);
  color:rgb(102, 102, 102);
  border-radius: 50px 0 0 50px;
  margin-left: 0;
  border: 0;
  height: 35px;
}

.big-input-form {
  background-color: rgb(194, 194, 194);
  color:rgb(102, 102, 102);
  border-radius: 8px;
}
