.navbar-lewagon {
  justify-content: space-between;
  background: rgb(0,0,0);

  a {
    color: rgb(255, 48, 21);

   &:hover {
    color: rgb(240, 240, 240);
  }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  width: 40px;
}
