<div class="navbar navbar-expand-sm navbar-light navbar-lewagon ps-3 pe-3">
  <a class="nav-item nav-link" href="/lists">Home</a>
  <div class="nav-item d-flex">
    <form action="/lists" method="get" class="form-inline d-flex mt-2 mb-2" style ="width: 280px">
        <input type="hidden" name="authenticity_token" value="fUrBymmVzFG49YTQE9xKfohttEtW7eHnui2WT6KWpRXT6g9dz73lhZ7bRdHH+RuV/TFoB23OG5l1eo731o8l6g==">
        <input type="search" name="search" value = "<%= params[:search] %>" placeholder="Search lists or movies" class="form-control input-form" >
        <input type="submit" value="Search" class="search-button">
    </form>
  </div>
</div>
